@font-face {
    font-family: 'Lato';
    src: url('./Fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Lato', sans-serif;
}

header {
    margin-top: 30px;
}

div.container {
    padding-left: 0;
    padding-right: 0;
    max-width: 1240px;
    margin-bottom: 50px;
}

.input_wrapper {
    display: flex;
    margin-bottom: 20px;
    margin-top: 17px;
    height: 70px;
    background-color: #E7E7E7;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    input.main {
        background-color: #E7E7E7;
        border: none;
        height: 100%;
        outline: none;
    }
    .fa-search {
        font-size: 32px;
    }
}

div.main_search {
    margin-right: 0;
    margin-left: 0;
}

div.wrapper {
    padding: 0;
}

//part of tags search
.search_tagwrap {
    display: flex;
}

.contener_tags {
    margin-right: 20px;
}

.btn_all {
    border-radius: 5px;
    width: auto;
    min-width: 170px;
    height: auto;
    min-height: 70px;
    font-size: 18px;
    // font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    .fa-chevron-down {
        cursor: pointer;
    }
}

.btn_i {
    background: #3282F7;
    color: white;
    p {
        margin: 0;
    }
}

//for JS toggle
.show_btn {
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

// in dispmay non 
.front_tag {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}

div.list_i {
    background: #3282F7;
}

div.list_a {
    background: #68D9A4;
}

div.list_u {
    background: #ED6454;
}

//for JS toggle
.d_grid {
    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-gap: 20px;
    grid-auto-flow: column;
}

.d_none {
    display: none;
}

input.search_tag {
    color: white;
    border: hidden;
    outline: none;
    &::placeholder {
        color: #E7E7E7;
        font-size: 18px;
        font-family: 'Lato';
        font-weight: bold;
    }
    &:hover {
        color: white;
    }
}

input.ingredients {
    background: #3282F7;
    &:hover {
        background: #3282F7;
    }
}

input.appareil {
    background: #68D9A4;
    ;
    &:hover {
        background: #68D9A4;
    }
}

input.ustensiles {
    background: #ED6454;
    &:hover {
        background: #ED6454;
    }
}

//animation===============================
.animation_arrow {
    animation: arrow 1s forwards;
}

@keyframes arrow {
    100% {
        transform: rotate(180deg);
    }
}

.wrapper_anim {
    animation: height 1s forwards;
}

.wrapper_close {
    animation: height 1s reverse forwards;
}

@keyframes height {
    100% {
        height: 150px;
    }
}

//=========================================
.btn_a,
div.list_a {
    background: #68D9A4;
    color: white;
}

.btn_u,
div.list_u {
    background: #ED6454;
    color: white;
}

.tag_active {
    display: flex;
    margin-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    .show_tag {
        margin-right: 20px;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 14px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .show_tag p {
        margin-bottom: 0;
    }
    .fa-times-circle {
        font-size: 20px;
        cursor: pointer;
        margin-left: 13px;
    }
}

//part of recipes
.wrap_recipes {
    gap: 50px;
    margin-left: 0;
    margin-right: 0;
}

.card {
    width: 380px;
    height: 364px;
    .card-img-top {
        width: 100%;
        height: 178px;
        background: #C7BEBE;
    }
    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        h2 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 0;
            text-align: left;
            max-width: 75%;
        }
    }
    .time {
        display: flex;
        align-items: center;
        .fa-clock {
            font-size: 20px;
        }
        p.p_time {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 0;
        }
    }
    .card-body {
        background: #E7E7E7;
        // overflow: hidden;
        //  text-overflow: ellipsis;
    }
    .main_description {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 12px;
        height: 85px;
        overflow: hidden;
        // text-overflow: ellipsis;
        .card_text {
            text-overflow: ellipsis;
        }
        .list_p {
            margin-bottom: 0;
            text-overflow: ellipsis;
        }
        .card_descr {
            // text-overflow: ellipsis;
            margin-bottom: 0;
        }
    }
}