body {
    font-family: 'Lato', sans-serif;
}

header {
    margin-top: 30px;
}

div.container {
    padding-left: 0;
    padding-right: 0;
    max-width: 1240px;
    margin-bottom: 50px;
}

.input_wrapper {
    display: flex;
    margin-bottom: 20px;
    margin-top: 17px;
    height: 70px;
    background-color: #E7E7E7;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    input.main {
        background-color: #E7E7E7;
        border: none;
        height: 100%;
        outline: none;
    }
    .fa-search {
        font-size: 32px;
    }
}

div.main_search {
    margin-right: 0;
    margin-left: 0;
}

div.wrapper {
    padding: 0;
}