//part of tags search
.search_tagwrap {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    position: relative;
    @media #{$mobile-only} {
        justify-content: center;
    }
}

.contener_tags {
    margin-right: 20px;
}

.btn_all {
    border-radius: 5px;
    width: auto;
    min-width: 170px;
    height: auto;
    min-height: 70px;
    font-size: 18px;
    // font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    .fa-chevron-down {
        cursor: pointer;
    }
}

.w_btn {
    max-width: 500px;
    width: 500px;
}

.btn_i {
    background: #3282F7;
    color: white;
    p {
        margin: 0;
    }
}